# Ignore Python bytecode and other Python-related files
*.py[cod]
__pycache__/
*.so

# Ignore Django migrations
**/migrations/

# Ignore virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
*.env
*.vite

# Ignore node_modules
frontend/node_modules/
frontend/.env
frontend/.vite

# Ignore build output
frontend/dist/
frontend/build/

# Ignore log files
*.log

# Ignore IDE specific files
.vscode/
.idea/
.git/
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other temporary files
*.tmp
*.temp


# Specific ignores for Python project structure
backend/core/migrations/
backend/core/__pycache__/
backend/server/migrations/
backend/server/__pycache__/
backend/media/